<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767578142953-7ag6sfrht8e6tig1q8rubdgap3dsh4oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767578142953-7ag6sfrht8e6tig1q8rubdgap3dsh4oc</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ35wXXd7gAKJLR9FTyNer9zz1s_Foaf8</string>
	<key>GCM_SENDER_ID</key>
	<string>767578142953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>macdolven.brewcrewapp</string>
	<key>PROJECT_ID</key>
	<string>auth-brew-crew</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-brew-crew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767578142953:ios:34eeb8d9190a9f9ac19878</string>
	<key>DATABASE_URL</key>
	<string>https://auth-brew-crew.firebaseio.com</string>
</dict>
</plist>